In [ ]:
!pip install requests

In [ ]:
API_KEY = "GvvamM7hpkUMhCdISXHhjL1Lv0q1psbcKuJF02vP"

import requests

url = f"https://api.nasa.gov/neo/rest/v1/feed?start_date=2024-01-01&end_date=2024-01-08&api_key={API_KEY}"

response = requests.get(url)

In [ ]:
response

In [ ]:
data = response.json()

In [ ]:
data

In [ ]:
data.keys()

In [ ]:
data['links']

In [ ]:
data['element_count']

In [ ]:
data['near_earth_objects']

In [ ]:
data['near_earth_objects'].keys()

In [ ]:
data['links']['next']

In [ ]:
data['near_earth_objects']['2024-01-01'][0]['id']

In [ ]:
asteroids_data = []
target = 200

url = f"https://api.nasa.gov/neo/rest/v1/feed?start_date=2024-01-01&end_date=2024-01-08&api_key={API_KEY}"

response = requests.get(url)
data = response.json()
details = data['near_earth_objects']

In [ ]:
details

In [ ]:
asteroids_data = []
target = 200

url = f"https://api.nasa.gov/neo/rest/v1/feed?start_date=2024-01-01&end_date=2024-01-08&api_key={API_KEY}"

response = requests.get(url)
data = response.json()
details = data['near_earth_objects']

while len(asteroids_data) < target:
    for date,ast_details in details.items():
        for ast in ast_details:
            asteroids_data.append(dict(
                id= int(ast['id']),
                internal_id = int(ast['neo_reference_id']),
                name = ast['name'],
                magnitude = ast['absolute_magnitude_h'],
                dia_min = ast ['estimated_diameter']['kilometers']['estimated_diameter_min'],
                dia_max =  ast ['estimated_diameter']['kilometers']['estimated_diameter_max'],
                hazardous = ast ['is_potentially_hazardous_asteroid'],
                velocity = float(ast ['close_approach_data'][0]['relative_velocity']['kilometers_per_hour']),
                astronomical = float (ast ['close_approach_data'][0]['miss_distance']['astronomical']),
                miss_km = float (ast ['close_approach_data'][0]['miss_distance']['kilometers']),
                miss_lunar = float (ast ['close_approach_data'][0]['miss_distance']['lunar']),
                orbiting = ast ['close_approach_data'][0]['orbiting_body'],
                close_approach = ast ['close_approach_data'][0]['close_approach_date']
                
            ))

In [ ]:
asteroids_data

In [ ]:
len(asteroids_data)

In [ ]:
asteroids_data = []
target = 200

url = f"https://api.nasa.gov/neo/rest/v1/feed?start_date=2024-01-01&end_date=2024-01-08&api_key={API_KEY}"

response = requests.get(url)
data = response.json()
details = data['near_earth_objects']

while len(asteroids_data) < target:
    for date,ast_details in details.items():
        for ast in ast_details:
            asteroids_data.append(dict(
                id= int(ast['id']),
                internal_id = int(ast['neo_reference_id']),
                name = ast['name']
            ))

In [ ]:
velocity = float(ast ['close_approach_data'][0]['relative_velocity']['kilometers_per_hour'])

In [ ]:
type(velocity)

In [ ]:
astronomical

In [ ]:
hazardous = ast ['is_potentially_hazardous_asteroid']

In [ ]:
 astronomical = ast ['close_approach_data'] [0]['close_approach_date']

In [ ]:
velocity = ast ['close_approach_data'][0]['relative_velocity']['kilometers_per_hour']

In [ ]:
velocity

In [ ]:
orbiting = ast ['close_approach_data'][0]['orbiting_body']

In [ ]:
orbiting

In [ ]:
miss_lunar = ast ['close_approach_data'][0]['miss_distance']['lunar']

In [ ]:
miss_lunar

In [ ]:
asteroids_data

In [ ]:
len(asteroids_data)

In [ ]:
from datetime import datetime

date_string = "2024-07-15"
date_object = datetime.strptime(date_string, "%Y-%m-%d")

In [ ]:
asteroids_data = []
target = 10000

url = f"https://api.nasa.gov/neo/rest/v1/feed?start_date=2024-01-01&end_date=2024-01-08&api_key={API_KEY}"


while len(asteroids_data) < target:
    
    response = requests.get(url)
    data = response.json()
    details = data['near_earth_objects']
    for date,ast_details in details.items():
        for ast in ast_details:
            asteroids_data.append(dict(
                id= int(ast['id']),
                neo_reference_id = int(ast['neo_reference_id']),
                name = ast['name'],
                absolute_magnitude_h = ast['absolute_magnitude_h'],
                estimated_diameter_min = ast ['estimated_diameter']['kilometers']['estimated_diameter_min'],
                estimated_diameter_max =  ast ['estimated_diameter']['kilometers']['estimated_diameter_max'],
                is_potentially_hazardous_asteroid = ast ['is_potentially_hazardous_asteroid'],
                relative_velocity_kmph = float(ast ['close_approach_data'][0]['relative_velocity']['kilometers_per_hour']),
                astronomical_AU = float (ast ['close_approach_data'][0]['miss_distance']['astronomical']),
                miss_distance_km = float (ast ['close_approach_data'][0]['miss_distance']['kilometers']),
                miss_distance_lunar = float (ast ['close_approach_data'][0]['miss_distance']['lunar']),
                orbiting_body = ast ['close_approach_data'][0]['orbiting_body'],
                close_approach_date = ast ['close_approach_data'][0]['close_approach_date']
                
            ))
            if len(asteroids_data) == target:
                break
        if len(asteroids_data) == target:
            break
    url = data['links']['next']
print (f"Total records collected: {len(asteroids_data)}")

In [ ]:
len(asteroids_data)

In [ ]:
asteroids_data

In [ ]:
asteroids_data[0]

In [ ]:
!pip install pymysql

In [ ]:
import pymysql

connection = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Nithish@9791',
    database = 'nasadb'
)
cursor = connection.cursor()

In [ ]:
asteroids="""
create table if not exists asteroids(
  id int,
  name text,
  absolute_magnitude_h float,
  estimated_diameter_min float,
  estimated_diameter_max float,
  is_potentially_hazardous_asteroid Boolean
);
"""

In [ ]:
cursor.execute(asteroids)
connection.commit()

print("Asteroids table created successfully")

In [ ]:
import pymysql

connection = pymysql.connect(
    host = 'localhost',
    user = 'root',
    password = 'Nithish@9791',
    database = 'nasadb'
)
cursor1 = connection.cursor()

In [ ]:
close_approach="""
create table if not exists close_approach(
  neo_reference_id int,
  close_approach_date date,
  relative_velocity_kmph float,
  astronomical_AU float,
  miss_distance_km float,
  orbiting_body varchar(50),
  miss_distance_lunar float
)
"""

In [ ]:
cursor1.execute(close_approach)
connection.commit()

print("close_approach table created successfully")

In [ ]:
insert_query1 = """
INSERT INTO close_approach (
    neo_reference_id,
    close_approach_date,
    relative_velocity_kmph,
    astronomical_AU,
    miss_distance_km,
    miss_distance_lunar,
    orbiting_body
) VALUES (%s, %s, %s, %s, %s, %s, %s)
"""

In [ ]:
for item in asteroids_data:
    cursor1.execute(insert_query1, (
        item["neo_reference_id"],
        item["close_approach_date"],
        
float (item["relative_velocity_kmph"]),
        float (item["astronomical_AU"]),
        float (item["miss_distance_km"]),
        float (item["miss_distance_lunar"]),
        item["orbiting_body"]
    ))

connection.commit()
print("close approach Data inserted successfully.")

In [ ]:
cursor1.execute("Drop table if exists close_approach")
connection.commit()

In [ ]:
close_approach

In [ ]:
asteroids

In [ ]:
insert_query = """
INSERT INTO asteroids (
    id,
    name,
    absolute_magnitude_h,
    estimated_diameter_min,
    estimated_diameter_max,
    is_potentially_hazardous_asteroid 
) VALUES (%s, %s, %s, %s, %s, %s)
"""

In [ ]:
for item in asteroids_data:
    cursor.execute(insert_query, (
        item["id"],
        item["name"],
        
float (item["absolute_magnitude_h"]),
float (item["estimated_diameter_min"]),
float (item["estimated_diameter_max"]),
item["is_potentially_hazardous_asteroid"]
    ))

connection.commit()
print("Asteroids Data inserted successfully.")